.form-block {
  &-container{
    position: relative;
    margin: 100px auto 0;
    width: 50%;
    padding: 25px;
    background: #fff;
    border-radius: 5px;
    color: #000;
    box-shadow: 0px 0px 16px 9px rgba(0,0,0,0.07);
  }
  &-logo {
    margin-top: 20px;
    margin-bottom: 30px;
    img {
      width: 30%;
    }
  }
}

.btn-submit {
  color: #fff;
  background-color: #38c172;
  background: linear-gradient(90deg, rgba(147,187,129,1) 0%, rgba(115,194,69,1) 100%);
  border-radius: 20px;
  height: 40px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
}

.btn-submit:hover {
  transition: all 0.5s ease;
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  color: #fff;
}
