@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

html, body {
  background-color: #EBECF0;
  // background: #fff;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  height: 100%;
  padding: 0;
  margin: 0;
}

small, .small {
  font-size: 75%;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.form-control {
  display: block;
  width: 100%;
  height: 50px;
  padding: 15px;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 10px;
}