.blog {
  &-container {
    width: 70vw;
  }
  &-content {
    background: #fff;
    padding: 30px;
    margin: 15px auto;
    border-radius: 5px;
  }
}

.categories{
  &-container {
    width: 70vw;
  }
  &-img {
    opacity: 0.65;
  }
  &-card {
    padding: 5px !important;
  }
}