.dashboard {
  a:hover{
    text-decoration: none;
    color: #000;
  }
  &-container {
    margin-top: 10% !important;
    width: 80%;
    margin: auto;
  }
  &-content {
    background: #fff;
    padding: 15px;
    margin: 15px auto;
    border-radius: 5px;
  }
  &-blogs {
    background: #fff;
    margin: 15px auto;
    padding: 0;
    border-radius: 5px;
  }
  &-link {
    display: block;
    width: 100%;
    padding:25px;
    color: #000;
  }
  &-likes{
    font-size: 12px;
  }
  &-actions{
    position: absolute;
    top: 0;
    right: 25px;
  }
}